Flask==1.1.1
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2 == 3.0.0
MarkupSafe>=2.0.0
Werkzeug==0.15.5
numpy>=1.9.2
scipy>=0.15.1
scikit-learn ==1.2.0
matplotlib>=1.4.3
pandas>=0.19
flasgger==0.9.4
streamlit==1.21.0
xgboost==1.7.6
